.design {
    width: 100%;
}

.header, .center, .left, .right, .footer {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.left, .right {
    width: 20%;
    background: orange;
}

.center {
    width: 60%;
}

.left, .right, .center {
    height: 450px;
}


.header, .footer {
    background-color: dodgerblue;
    height: 150px;
}